@import url('/home/marcos/node_modules/nes.css/css/nes.css');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
    /* font-family: 'VT323'; */
    font-family: 'Press Start 2P' !important;
}


#container{
    width: 80%; 
    margin: 5% auto;
}

.title-box{
    font-size: 22px !important;
}

p{
    font-size: 18px;
    text-align: justify;
}
h1{
    font-size: 25px;
    text-align: center;
}

.icon-qr{
    width: 80px;
    margin: 3% auto;
    display: block;
}
#qrcode{
    display: block;
    margin-bottom: 7%;
}
#qrcode img{
    margin: 0 auto;
}

.btn-download{
    margin: 0 auto;
    display: block;
}
.hidden{
    display: none;
}
.link_download:hover{
    text-decoration: none;
}